.jp-gis-color-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.jp-gis-color-container select {
  text-transform: capitalize;
}

.jp-gis-color-container option {
  text-transform: capitalize;
}

.jp-gis-color-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 0.25rem;
}

.jp-gis-color-row > input[type='number'] {
  flex: 0 1 18%;
  min-width: 0px;
}

.jp-gis-color-row > input[type='color'] {
  flex-grow: 1;
}

.jp-gis-color-row > button {
  color: var(--jp-ui-font-color0);
  background: none;
  padding-right: 0px;
}
