.jgis-stac-browser-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jgis-stac-browser-collection {
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.jgis-stac-browser-section-item {
  border-radius: 1rem !important;
  cursor: pointer;
}

.jgis-stac-browser-results-item {
  border-radius: 1rem !important;
  cursor: pointer;
  white-space: normal !important;
  height: auto !important;
}

.jgis-stac-browser-results-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  word-break: break-word;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.jgis-stac-browser-date-picker {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.jgis-stac-browser-filters-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 0 0.5rem;
}

.jgis-stac-filter-trigger {
  max-width: fit-content;
  border: 1px solid var(--jp-border-color0);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.jgis-stac-filter-section-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.jgis-stac-filter-section-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
