.jgis-stac-browser-collection {
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.jgis-stac-browser-section-item {
  border-radius: 1rem !important;
  cursor: pointer;
}

.jgis-stac-browser-results-item {
  border-radius: 1rem !important;
  cursor: pointer;
  white-space: normal !important;
  height: auto !important;
}

.jgis-stac-browser-results-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  word-break: break-word;
  padding: 0.25rem;
  margin-right: 0.5rem;
  align-self: center;
}

.jgis-stac-datepicker-full-width {
  width: 100%;
}

.jgis-stac-datepicker-button {
  padding: 0 0.5rem;
  width: 100%;
}

.jgis-stac-browser-filters-panel {
  min-height: 145px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 0 0.5rem;
}

.jgis-stac-filter-trigger {
  max-width: fit-content;
  border: 1px solid var(--jp-border-color0);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.jgis-stac-filter-trigger:disabled {
  cursor: not-allowed;
}

.jgis-stac-filter-section-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.jgis-stac-filter-section-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.jgis-stac-datepicker-icon {
  width: 1rem;
  height: 1rem;
}

.jgis-stac-badge {
  gap: 0.25rem;
  padding-right: 0.3rem !important;
}

.jgis-stac-badge-icon:hover {
  background-color: color-mix(
    in srgb,
    var(--jp-error-color0),
    transparent 20%
  ) !important;
}

.jgis-stac-filter-extension-panel {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jgis-stac-filter-extension-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.jgis-stac-filter-extension-label {
  font-size: 0.875rem;
  font-weight: 500;
}

.jgis-stac-filter-extension-select {
  max-width: 200px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--jp-border-color0);
  height: auto !important;
}

.jgis-stac-filter-extension-input {
  padding: 0.5rem 1rem !important;
  border-radius: 0 !important;
  width: auto !important;
  box-sizing: content-box;
}

.jgis-stac-filter-extension-input [data-slot='input'] {
  width: auto;
}

.jgis-stac-filter-extension-button-container {
  padding-top: 0.5rem;
  border-top: 1px solid var(--jp-border-color0);
}

.jgis-stac-filter-extension-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--jp-border-color0);
  background-color: var(--jp-layout-color0);
  color: var(--jp-ui-font-color0);
  cursor: pointer;
}

.jgis-stac-panel-tabs-list {
  border-radius: 0 !important;
}

.jgis-stac-panel-placeholder {
  padding: 1rem;
  text-align: center;
  color: var(--jp-ui-font-color2);
}

.jgis-stac-panel-provider-select-container {
  margin: 0 1rem 1rem 1rem;
}

.jgis-stac-panel-provider-select {
  width: 100%;
  padding: 0.5rem;
}

/* QueryableComboBox styles */
.jgis-queryable-combo-container {
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem;
}

.jgis-queryable-combo-button {
  width: 100%;
  justify-content: space-between !important;
}

.jgis-queryable-combo-icon {
  margin-left: 0.5rem;
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  opacity: 0.5;
}

.jgis-queryable-combo-popover {
  width: 200px;
  padding: 0;
}

.jgis-queryable-combo-check-icon {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.jgis-queryable-combo-input {
  border-radius: 0 !important;
  padding: 0.25rem 1rem !important;
  justify-content: space-between !important;
}

.jgis-queryable-combo-input-date-picker {
  height: 1.125rem !important;
  box-sizing: content-box;
  justify-content: flex-start !important;
}

.jgis-queryable-rows-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

.jgis-queryable-row {
  display: contents;
}

.jgis-stac-queryable-filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.jgis-stac-queryable-filters-radio-group {
  display: flex;
  gap: 0.5rem;
}

.jgis-stac-queryable-filters-radio-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* StacPanelResults styles */
.jgis-stac-panel-results-pagination {
  margin-top: 0;
}

.jgis-panel-tab-content-stac-panel {
  padding-top: 0 !important;
  border-top: 1px solid var(--jp-border-color0);
}
