.jgis-status-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 16px;
  background-color: var(--jp-layout-color1);
  font-size: var(--jp-ui-font-size0);
  z-index: 1000;
}

.jgis-status-bar-item {
  flex: 0 0 content;
}

.jgis-status-bar-coords {
  min-width: 160px;
}
