.jgis-story-viewer-panel * {
  box-sizing: border-box;
}

.jgis-story-viewer-content p,
.jgis-story-viewer-content span,
.jgis-story-viewer-content li {
  font-size: var(--jp-ui-font-size2);
}

.jgis-story-viewer-content > ul {
  padding-left: 1rem;
}
