.jgis-story-viewer-panel {
  overflow: hidden;
}

.jgis-story-viewer-panel * {
  box-sizing: border-box;
}

.jgis-story-viewer-image-container {
  position: relative;
  width: 100%;
  height: 30%;
}

.jgis-story-viewer-image {
  width: 100%;
  height: 100%;
  max-height: 240px;
  object-fit: cover;
  display: block;
}

.jgis-story-viewer-image-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.jgis-story-viewer-nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 0.25rem;
}

.jgis-story-viewer-title {
  text-align: center;
}

.jgis-story-viewer-subtitle {
  text-align: center;
}

.jgis-story-viewer-content {
  padding-left: 16px;
}

.jgis-story-viewer-content p,
.jgis-story-viewer-content span,
.jgis-story-viewer-content li {
  font-size: var(--jp-ui-font-size2);
}

.jgis-story-viewer-content > ul {
  padding-left: 1rem;
}

.jgis-story-viewer-specta-right-panel-mod {
  scale: 1.5;
  top: 3.5rem !important;
  right: 5.5rem !important;
  font-size: var(--jp-ui-font-size2);
}

.jgis-panel-tab-content-mod {
  background-color: plum;
}

.jgis-right-panel-container.jgis-specta-right-panel-container-mod {
  width: 40%;
  height: 100%;
  margin: unset;
  top: unset;
}

.jgis-specta-story-panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(
    to left,
    rgba(221, 160, 221, 0.9) 70%,
    transparent
  );
  /* background: radial-gradient(ellipse 100% 90% at right, plum 60%, transparent 100%); */
}

.jgis-story-viewer-panel-specta-mod {
  width: 70%;
  font-size: var(--jp-ui-font-size3);
  padding-right: 0.5rem;
}
