.jp-gis-symbology-dialog .jp-Dialog-header {
  font-weight: bold;
}

.jp-gis-symbology-dialog .jp-Dialog-content {
  width: calc(80% - 4rem);
  max-width: 80%;
  height: fit-content;
  max-height: 80%;
}

.jp-gis-symbology-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
}

.jp-gis-symbology-row label {
  font-size: var(--jp-ui-font-size2);
  flex: 0 1 20%;
}

.jp-gis-symbology-row > .jp-select-wrapper,
.jp-gis-symbology-row > .jp-mod-styled {
  flex: 1 0 50%;
  max-width: 50%;
}

.jp-gis-color-ramp-div {
  display: flex;
  flex: 1 1 50%;
  max-width: 50%;
  justify-content: space-between;
  align-items: baseline;
}

.jp-gis-color-ramp-div > .jp-select-wrapper {
  flex: 1 0 40%;
}

.jp-gis-color-ramp-div:last-child {
  flex-shrink: 0;
}

.jp-gis-color-ramp-div > input {
  max-width: 25%;
}

.jp-gis-band-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.jp-gis-layer-symbology-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  border-top: 1px solid var(--jp-border-color2);
  padding-top: 8px;
}

.jp-gis-layer-symbology-container .jp-select-wrapper {
  margin-bottom: unset;
}

.jp-gis-color-ramp-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.jp-gis-band-container .jp-gis-symbology-row:last-child {
  margin-bottom: 12px;
}

.jp-gis-stop-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.jp-gis-stop-labels {
  display: flex;
  font-weight: bold;
  font-size: var(--jp-ui-font-size1);
  gap: 0.25rem;
  padding-bottom: 0.25rem;
}

.jp-gis-stop-labels > span {
  flex: 0 0 18%;
}

.jp-gis-color-row {
  display: flex;
  width: 100%;
  gap: 0.25rem;
  height: 32px;
}

.jp-gis-color-row-value-input {
  flex: 0 1 18%;
  min-width: 0px;
}

.jp-gis-color-row-output-input {
  flex-grow: 1;
}

.jp-gis-color-row > button {
  color: var(--jp-ui-font-color0);
  background: none;
  padding-right: 0px;
}

.jp-gis-symbology-button-container {
  padding-top: 0.5rem;
}

.jp-gis-band-info-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
}

.jp-gis-loading-spinner {
  animation: spin 4s linear infinite;
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: auto;
}

.jp-gis-band-info-loading-container > span {
  font-size: 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
