.jp-gis-temporal-slider-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.jp-gis-temporal-slider-row {
  display: flex;
  gap: 0.25rem;
  justify-content: space-around;
}

.jp-gis-temporal-slider {
  flex: 1 0 40%;
  min-width: 300px;
}
