# minimum needed to build jupytergis.
datamodel-code-generator>=0.23.0
hatchling>=1.5.0,<2
jupyter-collaboration>=4
jupyter-collaboration-ui>=2
jupyter-docprovider>=1,<2
jupyter-server-ydoc>=1,<2
jupyterlab>=4.3,<5
mercantile>=1.2
pillow>=10
pydantic>=2.4.2,<3
ruff>=0.6
xyzservices>=2024.6.0
