/* Combobox Button */
.jgis-combobox-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: preserve-breaks;
  padding: 0.25rem;
  box-sizing: content-box;
  height: 1.125rem;
}

.jgis-combobox-icon {
  margin-left: 0.5rem;
  margin-top: 0.125rem;
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  opacity: 0.5;
}

/* Combobox Popover */
.jgis-combobox-popover {
  width: 200px;
  padding: 0;
}

.jgis-combobox-check-icon {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}
