.jgis-hover-card-content {
  position: relative;
  z-index: 50;
  width: 16rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  background-color: var(--jp-layout-color0);
  color: var(--jp-ui-font-color0);
  border: 1px solid
    color-mix(in srgb, var(--jp-ui-font-color0), transparent 90%);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  outline: none;
  transform-origin: var(--radix-hover-card-content-transform-origin);
  transition-duration: 100ms;
}

.jgis-hover-card-content[data-state='open'][data-side='bottom'] {
  animation: popover-slide-in-from-top 100ms ease-out;
}

.jgis-hover-card-content[data-state='open'][data-side='top'] {
  animation: popover-slide-in-from-bottom 100ms ease-out;
}

.jgis-hover-card-content[data-state='open'][data-side='left'] {
  animation: popover-slide-in-from-right 100ms ease-out;
}

.jgis-hover-card-content[data-state='open'][data-side='right'] {
  animation: popover-slide-in-from-left 100ms ease-out;
}

.jgis-hover-card-content[data-state='open']:not([data-side]) {
  animation: popover-fade-zoom-in 100ms ease-out;
}

.jgis-hover-card-content[data-state='closed'] {
  animation: popover-fade-zoom-out 100ms ease-in;
}
