[data-slot='input'] {
  height: 1.125rem;
  width: 100%;
  min-width: 0;
  border-radius: 0.375rem;
  border: 1px solid var(--jp-border-color1);
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition:
    color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: none;
  color: var(--jp-ui-font-color1);
}

[data-slot='input']::placeholder {
  color: var(--jp-ui-font-color2);
}

[data-slot='input']::selection {
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
}

[data-slot='input']:focus-visible {
  border-color: var(--jp-brand-color1);
  box-shadow: 0 0 0 3px rgba(var(--jp-brand-color1-rgb), 0.1);
}

[data-slot='input'][aria-invalid='true'] {
  border-color: var(--jp-error-color1);
  box-shadow: 0 0 0 3px rgba(var(--jp-error-color1-rgb), 0.2);
}

[data-slot='input']:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

[data-slot='input']::file-selector-button {
  color: var(--jp-ui-font-color1);
  display: inline-flex;
  height: 1.75rem;
  border: 0;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 0.75rem;
}

@media (min-width: 768px) {
  [data-slot='input'] {
    font-size: 0.875rem;
  }
}
