.TabsList {
  display: inline-flex;
  height: 2.5rem;
  align-items: center;
  /* justify-content: space-evenly; */
  border-radius: 0.375rem;
  background-color: var(--jp-layout-color2);
  padding: 0.25rem;
  color: var(--jp-ui-font-color0);
  gap: 1rem;
}

.TabsTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  background-color: transparent;
}

.TabsTrigger:focus-visible {
  box-shadow:
    0 0 0 2px var(--jp-accent-color0),
    0 0 0 4px var(--jp-accent-color0);
}

.TabsTrigger:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.TabsTrigger[data-state='active'] {
  background-color: var(--jp-layout-color0);
  color: var(--jp-ui-font-color0);
  box-shadow: 0 1px 2px
    color-mix(in srgb, var(--jp-layout-color0), transparent 90%);
}

.TabsContent {
  margin-top: 0.5rem;
  outline: none;
}

.TabsContent:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px var(--jp-accent-color0),
    0 0 0 4px var(--jp-accent-color0);
}
