.jgis-panel-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--jp-layout-color0);
}

.jgis-drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: grab;
  color: var(--jp-ui-font-color1);
  user-select: none;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
  background-color: var(--jp-layout-color2, rgba(0, 0, 0, 0.05));
  border-radius: 2px;
}

.jgis-drag-handle:hover,
.jgis-drag-handle:active {
  outline: 2px solid var(--jp-brand-color1, rgb(22, 147, 248));
  outline-offset: -1px;
  border-radius: 2px;
}

.jgis-drag-handle:active {
  cursor: grabbing;
}

.jgis-drag-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.1s ease,
    box-shadow 0.2s ease;
}

.jgis-drag-icon svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
  pointer-events: none;
}

.jgis-tabs-list {
  display: inline-flex;
  height: 2.5rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--jp-layout-color2);
  color: var(--jp-ui-font-color0);
  gap: 1rem;
  width: 100%;
  font-size: 9px;
  overflow-x: scroll;
}

.jgis-tabs-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--jp-ui-font-size2);
  font-weight: 500;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  background-color: transparent;
}

.jgis-tabs-trigger:focus-visible {
  box-shadow:
    0 0 0 2px var(--jp-accent-color0),
    0 0 0 4px var(--jp-accent-color0);
}

.jgis-tabs-trigger:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.jgis-tabs-trigger[data-state='active'] {
  background-color: var(--jp-layout-color2);
  color: var(--jp-ui-font-color0);
  box-shadow: 0 1px 2px
    color-mix(in srgb, var(--jp-layout-color0), transparent 90%);
}

.jgis-tabs-content {
  outline: none;
  width: 100%;
  overflow-y: scroll;
  /* max-height: 480px; */
  padding-top: 1rem;
}

.jgis-tabs-content:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px var(--jp-accent-color0),
    0 0 0 4px var(--jp-accent-color0);
}
