.jgis-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-size: var(--jp-ui-font-size1);
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition:
    color 0.3s,
    background-color 0.3s;
  outline: none;
  color: var(--jp-ui-font-color0);
  background-color: var(--jp-layout-color0);
  border: 1px solid transparent;
}

.jgis-toggle:hover {
  background-color: color-mix(
    in srgb,
    var(--jp-ui-font-color0),
    transparent 90%
  );
  color: var(--jp-ui-inverse-font-color0);
}

.jgis-toggle:focus-visible {
  box-shadow:
    0 0 0 2px var(--jp-accent-color0),
    0 0 0 4px var(--jp-accent-color0);
}

.jgis-toggle:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.jgis-toggle[data-state='on'] {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--jp-accent-color0);
}

.jgis-toggle-default {
  background-color: transparent;
}

.jgis-toggle-outline {
  border: 1px solid var(--jp-border-color0);
  background-color: transparent;
  transition:
    background-color 0.3s,
    color 0.3s;
  color: inherit;
}

.jgis-toggle-outline:hover {
  background-color: var(--jp-accent-color0);
  color: var(--jp-ui-inverse-font-color0);
}

.jgis-toggle-default-size {
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.jgis-toggle-small-size {
  height: 2.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.jgis-toggle-large-size {
  height: 2.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.jgis-toggle-group-context {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.25rem;
}
