name: jupytergis-docs
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.12
  - pip # Needed to install jupytergis wheels in RTD build

  # Build docs & JupyterLite
  - jupyterlite-core
  - jupyterlite-xeus>=3.1.3,<4
  - jupyterlite-sphinx
  - sphinx
  - sphinx-tabs
  - pydata-sphinx-theme
  - sphinx-autodoc-typehints
  - sphinx-exercise
  - sphinx-togglebutton
  - myst-parser
  - xeus-python # TODO: Do we need this?
  - pip:
      # Install JupyterGIS so we can autodoc:
      - ../python/jupytergis_core
      - ../python/jupytergis_lab
