name: jupytergis-docs
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.10
  - pip # Needed to install jupytergis wheels in RTD build

  # Build docs & JupyterLite
  - jupyterlite-core>=0.5.0,<0.6.0
  - jupyterlite-xeus>=2,<3
  - jupyterlite-sphinx
  - sphinx
  - sphinx-tabs
  - pydata-sphinx-theme
  - sphinx-autodoc-typehints

  - xeus-python # TODO: Do we need this?
