name: jupytergis-docs
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python

  # Build docs & JupyterLite
  - jupyterlite-core
  - jupyterlite-xeus
  - jupyterlite-sphinx
  - jupytext =1.19.0
  - sphinx
  - sphinx-tabs
  - pydata-sphinx-theme
  - sphinx-autodoc-typehints
  - sphinx-exercise
  - sphinx-togglebutton
  - sphinxcontrib-mermaid
  - myst-parser
  - xeus-python # TODO: Do we need this?

  - pip
  - pip:
      # Install JupyterGIS so we can autodoc.
      # IMPORTANT: You must do `jlpm build` at the root of the repo before this can work.
      # See: https://github.com/geojupyter/jupytergis/issues/585
      - ../python/jupytergis_core
      - ../python/jupytergis_lab
