name: jupytergis-docs
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.13
  - pip # Needed to install jupytergis wheels in RTD build

  # Build docs & JupyterLite
  - jupyterlite-core>=0.2.0,<0.3.0
  - jupyterlite-xeus>=0.1.2,<0.2
  - jupyterlite-sphinx
  - sphinx
  - sphinx-tabs
  - pydata-sphinx-theme
  - sphinx-autodoc-typehints

  - xeus-python # TODO: Do we need this?
