name: jupytergis-docs
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.12
  - pip # Needed to install jupytergis wheels in RTD build

  # Build docs & JupyterLite
  - jupyterlite-core>=0.4.0,<0.6.0
  - jupyterlite-xeus>=2,<3
  - jupyterlite-sphinx
  - sphinx
  - sphinx-tabs
  - pydata-sphinx-theme
  - sphinx-autodoc-typehints
  - sphinx_exercise

  - xeus-python # TODO: Do we need this?

  # Install myst-parser via pip
  - pip:
      - myst-parser<4.0.0
