name: jupytergis
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.12
  - pip
  - nodejs
  - hatch
  # Build docs & JupyterLite
  - jupyterlite-core
  - jupyterlite-xeus>=3.1.3,<4
  - jupyterlite-sphinx
  - sphinx
  - sphinx-tabs
  - pydata-sphinx-theme
  - sphinx-autodoc-typehints
  - sphinx-exercise
  - sphinx-togglebutton
  - myst-parser
  - xeus-python # TODO: Do we need this?

  - pip:
      - jupyterlab==4.3
      - datamodel-code-generator>=0.23.0
      # Install JupyterGIS so we can autodoc.
      # IMPORTANT: You must do `jlpm build` at the root of the repo before this can work.
      # See: https://github.com/geojupyter/jupytergis/issues/585
      - ../python/jupytergis_core
      - ../python/jupytergis_lab
